<footer class="w3-container w3-blue w3-margin w3-center">
  <div class="w3-panel w3-blue">
  <h1 class="w3-text-balck" style="text-shadow:1px 1px 0 #444">
  <b>FUNDADORES</b></h1>
</div>

  <ul class="w3-ul w3-hoverable">
    <a href="https://github.com/marcoriv43" target="_blank"> <li>Marco Rivero <i class="fa-brands fa-github"></i></a>    
    <a href="https://github.com/vickyniee" target="_blank"> <li>Victoria Rangel <i class="fa-brands fa-github"></i></a></li>
    <a href="https://github.com/Daniel-el-Hispanico16" target="_blank" > <li>Daniel Cabrita <i class="fa-brands fa-github"></i></a></li>
    <a href="https://github.com/Alegabriel232310" target="_blank"> <li>Alejandro Vargas <i class="fa-brands fa-github"></i></a></li>
  </ul>  
  
</footer>
