<div class="w3-row">
    <div class="w3-container w3-half w3-margin-top">
        <div class="w3-container w3-card-4">
            <form action="/" method="post">
                <p>
                <input class="w3-input" name="username" type="text" style="width:90%" required>
                <label>Nombre de usuario</label></p>
                <p>
                <input class="w3-input" type="password" name="password" style="width:90%" required>
                <label>Contraseña</label></p>        
                <p>
                    <button class="w3-button w3-right w3-green"> Ingresar </button>
                </p>
            </form>
            <form action="/crearUsuario" method="get">
                <p>
                    <button class="w3-button w3-right w3-blue"> Crear usuario </button>
                </p>
            </form>            
        </div>
    </div>
</div>
<script src="assets/js/Users.js"></script>