<h1>Editar post:</h1>
<div class="w3-row">
    <div class="w3-container w3-padding">
        <form action="/post/edit/{{data.id_post}}" method="post">
            <input class="w3-input w3-border" type="text" value="{{data.title_post}}" name="title" autofocus>
            <input class="w3-input w3-border" type="text" value="{{data.description_post}}" name="description">
            <input class="w3-input w3-border" type="text" value="{{data.url_post}}" name="url">
            <button class="w3-button w3-green w3-border" type="submit">enviar</button>
        </form>
    </div>
</div>